div.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(236deg, #74ebd5, #acb6e5); */
    height: 100vh;

}

.buttons {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    /* grid-template-columns: repeat(4, 1fr); */
    position: relative;
}

button#zero {
    grid-column: 1 / span 2;
}

button.btn {
    border-radius: 50%;
}